<a href="https://colab.research.google.com/github/Mugees4u/M4u/blob/master/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Dictinary
# It contains a key value pair, each key is seprated from it's value by colon(:) & the whole things are enclosed within curley brackets

# key are the must be unique within dictionay, while values may or may not

# The values of dictionay can be of any types, but key must be immutable data types such as string, number, or tuples

x = {'Age': 24, 'Name': 'Mugees Ahmad', 'Phone': 9891998160}
x

{'Age': 24, 'Name': 'Mugees Ahmad', 'Phone': 9891998160}

In [7]:
# Accessing the values in Dictionary
# [] follows the key to obtain its value

y = {'Name': 'Mohit', 'Age':25}
y['Name']

'Mohit'

In [8]:
y['Age']

25

In [9]:
# Updation on Dictionary
# we can update a dictionary by adding a new key-pair, modifying an existing entry or deleting an existing entry

x = {'Name': 'Mugees', 'Age': 25, 'Course': 'Data Science'}
x

{'Age': 25, 'Course': 'Data Science', 'Name': 'Mugees'}

In [12]:
# Update on existing age 
x['Age'] = 28
x

# Add new entry

x['Institute'] = "Naresh iT"
x

{'Age': 28,
 'Course': 'Data Science',
 'Institute': 'Naresh iT',
 'Name': 'Mugees'}

In [17]:
# Delete Operations on Dictionary
# We can either delete a individual dict. elements or clear the entire content of dictionary.
# We can also delete entire dict. on single operation

dict = {'Name': 'Anurag', 'Salary': 25000, 'Desgination': 'DataScientist'}
dict

{'Desgination': 'DataScientist', 'Name': 'Anurag', 'Salary': 25000}

In [0]:
# delete entry with key 'Name'
del dict['Name']

In [19]:
dict

{'Desgination': 'DataScientist', 'Salary': 25000}

In [0]:
# delete all entries in dict.
dict.clear()

In [21]:
dict

{}

In [0]:
# delete entire dictionary
del dict

In [24]:
# It will generate Traceback error, bocoze dictonary is deleted
dict['Age']

TypeError: ignored

In [25]:
# Properties of dictionary
# 1. No duplicate key allowed. When duplicate key is encountered during assignment, last assignment win

x = {'Name': 'Srikant', 'Age': 20, 'Name': 'Addapalli'}
x

{'Age': 20, 'Name': 'Addapalli'}

In [27]:
x['Name']

'Addapalli'

In [28]:
# 2. Key must be immutable, but something like ['Key'] is not allowed.

x = {['Name']: 'India', 'Freedom': 1947}
x['Name']

TypeError: ignored