<a href="https://colab.research.google.com/github/Mugees4u/M4u/blob/master/employee_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import numpy as np
import pandas as pd
data_employee = {'employee_id': np.arange(1, 151),
                'age': np.random.randint(30, 65, size = 150),
                'basic pay': np.random.randint(15800, 57890, size = 150),
                'no of clients': np.random.randint(1, 41, size = 150),
                'performance score': np.random.randint(0, 2, size = 150)}
df = pd.DataFrame(data_employee, columns = ['employee_id', 'age', 'basic pay', 'no of clients', 'performance score'])
print(df.head())

   employee_id  age  basic pay  no of clients  performance score
0            1   42      26263             40                  1
1            2   33      48129             15                  1
2            3   34      55359              6                  1
3            4   50      47785             27                  0
4            5   37      23275             36                  0