**Lambda function:**: In Python, A function that having without name.
* function used the keyword lambda
* lambda function take any nos of arguments, but can only have one expression


**Syntax:**
        *lambda arguments : expression*

In [0]:
x = lambda a : a + 10
print(x(5))

15

In [0]:
x = lambda a, b : a * b
print(x(7, 8))

56

In [0]:
x = lambda a, b, c : a + b - c
print(x(56, 67, 73))

50

In [0]:
x = lambda k, l, m, n, o : (k + l - m * o)
print(x(5, 7, 16, 2, 3))

-36

The impact of lambda function within a function is more strongly

In [0]:
def myfunc(x):
  return lambda a : a * x

y = myfunc(6)
print(y(3))

z = myfunc(13)
print(z(12))

18
156

Lambda functions are also used along with built-in function like filter() and map() etc

In [2]:
#filter()
# The function is called with all the item in the list and a new list is returned which contains items for the which function evaluates to true.

my_list = [1, 4, 5, 6, 8, 11, 3, 12]
# filter out even items from a list
new_list= list(filter(lambda x:(x%2 == 0), my_list))
new_list

[4, 6, 8, 12]

In [4]:
my_list1 = [3, 6, 9, 5, 1, 2, 0]
# filter out the odd from a list
new_list1 = list(filter(lambda x: (x%2 == 1), my_list1))
print(new_list1)

[3, 9, 5, 1]

In [9]:
# map()
# The map() is called all the items in the list and a new list is returned which contains items returened by that functions for each item

my_list = [15, 5, 4, 5, 6, 13, 30]
 # double each item in a list using map()

new_list = list(map(lambda x: x * 2, my_list))
print(new_list)

[30, 10, 8, 10, 12, 26, 60]