<a href="https://colab.research.google.com/github/Mugees4u/M4u/blob/master/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# A tuple is a sequence of immutable of python objects
# it is similar to list but it can't be change & puts in () while list is in []
tpl1 = ('Sachin', 26, 'Mugees')
tpl1

('Sachin', 26, 'Mugees')

In [2]:
tpl2 = (1, 98, 7, 6)
tpl2

(1, 98, 7, 6)

In [4]:
tpl3 = ("a", "58", "d")
tpl3

('a', '58', 'd')

In [5]:
# empty tuple
x = ()
x

()

In [8]:
# to write a tuple for containing only single value must be used comma (,) 
y = (50,)
y

(50,)

In [10]:
# Accessing values from tuples
# use square brackets for slicing along with the index to obtain value available at that index
x = ('Rohit', 'Pankaj', 'Harender', 'Mugees', 'Srikant')
print(x[2])
print(x[0])

Harender
Rohit

In [16]:
y = (25, 69, 25, 26, 'Amit', 'Satya')
print(y[3])
print(y[5])

26
Satya

In [18]:
subj = ('Physics', 'Chemistry', 'Computer', 'Mathematics', 'English')
print(subj[1:3])
print(subj[2:4])

('Chemistry', 'Computer')
('Computer', 'Mathematics')

In [19]:
# Updating tuples
# tuples are immutable, which means we can't change the value of tuple elements, but we are able to take a portion of existing tuple and create a new tuple

subj = ('Descrte Mathmetics', 'Apllied Statics', 'Linear Algebra')
course = ('MCA', 'MSc')
tuple1 = subj + course
tuple1

('Descrte Mathmetics', 'Apllied Statics', 'Linear Algebra', 'MCA', 'MSc')

In [25]:
# Delete tuple elements
# to removing individual tuple elements is not possible
# so we can delete entire tuple using keyword 'del'


y = ('India', 'pakistan', 'Afghanistan')
print(y)

('India', 'pakistan', 'Afghanistan')

In [0]:
# deleting the tuple
del y

In [27]:
# after deleting tuple, again print, traceback error generate tuple is not defined
y

NameError: ignored

In [28]:
# Basic operations of tuples

   # Length of tuples
x = (1, 6, 'Python', 'DataScience')
len(x)

4

In [38]:
# cancatination

s1 = ("Mugees",)
s2 = (" Ahmad",)
s3 = s1 + s2
s3

('Mugees', ' Ahmad')

In [39]:
# Repetition

s1 = ('Hello',)*6
s1

('Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello')

In [40]:
# Membership
3 in (1, 2, 3)

True

In [42]:
5 in ('Mugees', 6, 15, 'Scachin')

False

In [43]:
# Iteration 
for x in (1, 2, 3):
  print(x)

1
2
3